<article class="post">
    <div class="title">
        <h2>{{title}}</h2>
        <p>{{postContent}}</p>
    </div>
    <div class="comment">
        <p>Created by {{user.username}} on {{format_date createdAt}}</p>
        |
        <a href="/posts/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>