<article class="post">
    <div class="title">
        <h4> <a href="/post/{{id}}">{{title}}</a> </h4>
        <p>{{postContent}}</p>
    </div>
    <div class="comment">
        <p>Created by {{user.username}} on {{format_date createdAt}}</p>
        |
        <a href="/posts/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>